body,
html {
  margin: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #444444;
}

.Bcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  background-color: #1a1a1a;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 0 auto;
}

.display {
  width: 90%;
  max-width: 400px;
  height: 120px;
  background-color: #000000;
  color: white;
  font-size: 36px;
  text-align: right;
  padding: 15px;
  margin: 0 auto;
  border: none;
  user-select: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  caret-color: transparent;
  outline: none;
}

.buttons {
  cursor: pointer;
  border: none;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  font-size: 24px;
  background-color: #333333;
  color: white;
  user-select: none;
  gap: 0px;
}

.buttons:hover {
  background-color: #4a4a4a;
}
